.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: relative;
}

.carousel-container {
  width: 100%;
  position: relative;
  height: 400px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
}

.carousel.active {
  opacity: 1;
  visibility: visible;
}

.carousel img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.412);
  border-radius: 20px;
  padding: 10px;
  z-index: 99;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.594);
  transition: 0.4s all ease;
}
.prev {
  left: -30px;
  top: 50%;
}

.prev svg {
  width: 40px;
  height: 40px;
}

.prev:hover {
  transform: scale(1.2);
  background-color: black;
}

.prev:active {
  transform: scale(1);
}

.next {
  top: 50%;
  right: -30px;
}

.next svg {
  width: 40px;
  height: 40px;
}

.next:hover {
  transform: scale(1.2);
  background-color: black;
}

.next:active {
  transform: scale(1);
}
