.darkmode-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 25px;
  height: 50px;
  width: 50px;
  font-size: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.dark {
  background-color: #121212;
  color: #f2f2f2;
}

html.dark,
html.dark body,
html.dark [data-id="ball"],
html.dark .hamburger-drawer a {
  background-color: #121212;
  color: #f2f2f2;
}

html.dark .hamburger-drawer__nav {
  background-color: rgba(66, 26, 26, 0.5);
}

html.dark [data-id="field"] {
  background-color: rgb(66, 26, 26);
}
