[data-id="field"] {
  height: 400px;
  width: 1100px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

[data-id="ball"] {
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
