@import "./hamburger.css";
@import "./clock.css";
@import "./field-ball.css";
@import "./scroll-btn.css";
@import "./darkmode.css";
@import "./cards.css";
@import "./lottery.css";
@import "./carousel.css";

html,
body {
  background-color: #eff0f3;
  color: #0d0d0d;
  transition: background-color 0.3s, color 0.3s;
}

.header-wrapper {
  width: 100%;
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 15dvh;
  z-index: 10;
  position: relative;
}

header h1 {
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: 40px;
}

.sections-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100vh;
  position: relative;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
