* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  user-select: none;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

header {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: space-between;
  height: 100px;
  position: fixed;
  z-index: 15;
  background-color: burlywood;
}

.header-wrapper img {
  align-self: center;
  height: 80px;
  width: 80px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}

.header-wrapper nav {
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  max-width: 90%;
  width: 100%;
  font-size: 25px;
  align-items: center;
}

.header-wrapper nav a {
  color: rgb(255, 255, 255);
  background-color: burlywood;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(/images/tokyo-image.jpg);
  background-size: cover;
  background-position: 25% 70%;
  position: relative;
  background-attachment: fixed;
}

.hero-section::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  background: #3d3d3d;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.413) 20%,
    rgba(5, 0, 0, 0.563) 100%
  );
}

.hero-section h1 {
  color: burlywood;
  font-size: 90px;
  letter-spacing: 15px;
  z-index: 10;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h2 {
  font-size: 40px;
  padding: 30px;
  color: burlywood;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 25%;
  align-items: center;
  border-radius: 10px;
  overflow: scroll;
  background-color: burlywood;
}

.to-do-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 50px;
  border-bottom: solid 3px rgb(255, 255, 255);
  background-color: burlywood;
}

.to-do-list-header input {
  padding: 5px 10px 5px;
  border-radius: 7px;
}

.to-do-list-header button {
  padding: 5px;
  border-radius: 7px;
}

.theme {
  background-color: #262626;
  color: burlywood;
}
