body {
  width: 100%;
}

.toggle-div {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.toggle-button {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  padding: 15px;
}

.toggle-section {
  height: 300px;
  width: 100%;
}

.dark-mode {
  background-color: black;
}

.dark-mode button {
  background-color: yellow;
  text-align: center;
}

.to-do-menu {
  height: 500px;
  width: 300px;
  background-color: rgb(161, 155, 155);
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.to-do-list-nav {
  padding: 20px;
}

.to-do-main div {
  background-color: red;
}
