.courtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease;
  opacity: 1;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg) scaleX(-1) scaleY(1) skew(50deg);
  }

  25% {
    transform: rotate(90deg) scaleX(1) scaleY(-1);
  }

  50% {
    transform: rotate(180deg) scaleX(-1) scaleY(1);
  }

  100% {
    transform: rotate(360deg) scaleX(1) scaleY(1) scale(1.5);
  }
}

.courtain img {
  width: 200px;
  animation: rotateLogo 1.5s ease forwards;
}

.courtain.open {
  opacity: 0;
  pointer-events: none;
}

.courtain.open img {
  transform: scale(1);
  opacity: 0;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

img {
  cursor: pointer;
}

.agents {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  height: auto;
}

.agents div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(95, 67, 67);
  border: 5px solid rgb(0, 0, 0);
  font-size: 18px;
  padding: 7px;
  transition: 0.4s ease;
}

.agents div:hover {
  transform: scale(0.75);
  cursor: pointer;
}

h3::first-letter {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-right: 1px;
}

.val-logo {
  background-color: black;
  width: 250px;
  height: 100px;
  object-fit: contain;
  border-radius: 40px;
}

.agents div img {
  width: 200px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  object-fit: cover;
}

.agents div p {
  max-width: 200px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
