* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  user-select: none;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

.courtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 26, 26, 0.521);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease;
  opacity: 1;
}

.courtain img {
  width: 200px;
}

.courtain.open {
  opacity: 0;
  pointer-events: none;
}

.courtain.open img {
  transform: scale(1);
  opacity: 0;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 30px;
  background-color: #000000;
  min-height: 100dvh;
}

img {
  cursor: pointer;
}

.agents {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  gap: 30px;
}

.agents > div {
  display: flex;
  gap: 10px;
  max-width: 700px;
  width: 100%;
  border: 1px solid #ffdede;
  border-radius: 5px;
  transition: 0.4s ease;
  text-align: start;
  background-color: #cf0f47;
  padding-right: 15px;
}

.card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  color: #ffdede;
  gap: 8px;
  width: 100%;
}

.agents > div:hover {
  cursor: pointer;
  background-color: #ff0b55;
}

h3::first-letter {
  text-transform: capitalize;
}

h3 {
  font-family: monospace;
  font-size: 28px;
}

.val-logo {
  max-width: 200px;
  height: 100px;
  object-fit: cover;
  transition: 0.4s ease;
}

.val-logo:hover {
  transform: scale(1.2);
}

.agents div img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 275px;
  border-radius: 5px;
  object-fit: cover;
  background-size: cover;
}

.agents div p {
  font-family: monospace;
  font-size: 18px;
}

.input-section {
  gap: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  padding: 6px;
  border-radius: 5px;
}

#search-input:focus,
#search-input:active {
  border: 2px solid #cf0f47;
  outline: none;
}

#filter {
  padding: 6px;
  font-family: monospace;
  font-weight: 600;
  font-size: 18px;
  background-color: #cf0f47;
  border: none;
  border-radius: 5px;
}

@media (max-width: 530px) {
  .input-section {
    flex-direction: column;
  }
}

@media (max-width: 485px) {
  .agents > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 20px 20px;
  }

  .agents > div img {
    width: 100%;
    height: auto;
  }

  main {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .agents {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 870px) {
  .agents > div {
    max-width: initial;
  }
}
