html {
  background-color: beige;
}

.courtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease;
  opacity: 1;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg) scaleX(-1) scaleY(1) skew(50deg);
  }

  25% {
    transform: rotate(90deg) scaleX(1) scaleY(-1);
  }

  50% {
    transform: rotate(180deg) scaleX(-1) scaleY(1);
  }

  100% {
    transform: rotate(360deg) scaleX(1) scaleY(1) scale(1.5);
  }
}

@keyframes mirrorLogo {
  0% {
    transform: scaleX(-1);
  }

  25% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }

  100% {
    transform: scaleX(1);
  }
}

.courtain img {
  width: 200px;
  animation: rotateLogo 1.5s ease forwards;
}

.courtain.open {
  opacity: 0;
  pointer-events: none;
}

.courtain.open img {
  transform: scale(1);
  opacity: 0;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

.btn-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-container button {
  padding: 8px 20px 8px 20px;
  background-color: #3761a8;
  color: #feca1b;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s all ease;
  border: 2px solid black;
}

.btn-container button:hover {
  border: 2px solid #feca1b;
}

.btn-container button:active {
  transform: scale(0.9);
}

main > img {
  cursor: pointer;
  padding: 50px;
}

main > img:hover {
  animation: mirrorLogo 1.5s ease-in-out;
}

.pokemons {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  height: auto;
  transition: 0.4s all ease-out;
}

.pokemons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #e7b614;
  border: 3px solid #034fd1;
  font-size: 18px;
  padding: 7px;
  transition: 0.4s ease;
  user-select: none;
}

.pokemons div:hover {
  transform: scale(0.75);
  cursor: pointer;
}

h3::first-letter {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-right: 1px;
}

.pokemons div img {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.427);
  border-radius: 5px;
}
