@font-face {
  font-family: "Space Mono";
  src: url("/ajax/public/fonts/SpaceMono-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

html {
  background-color: beige;
  font-family: "Space Mono", monospace;
}

h2,
h3,
p {
    text-transform: uppercase;
  font-size: 24px;
  color: beige;
  margin: 0;
  font-family: "Space Mono", monospace;
}


main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#pokeapi-logo {
  margin-top: 50px;
  object-fit: cover;
  cursor: pointer;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}

h2::first-letter,
h3::first-letter {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-right: 1px;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #e7b614;
  border: 3px solid #034fd1;
  font-size: 18px;
  padding: 40px;
  transition: 0.4s ease;
  user-select: none;
  gap: 15px;
}

#pokemon-img {
  width: 200px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.427);
  border-radius: 5px;
}

.type-container,
.ability-container {
  background-color: #034fd1;
  border: 3px solid black;
  width: 90%;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.type-container:hover,
.ability-container:hover {
  transform: scale(0.9);
}

.ability-container p {
  padding: 0px 15px 0px 15px;
  text-wrap: pretty;
}

.pokemon-info {
  width: 500px;
  height: 450px;
  background-color: #e7b614;
  border: 2px solid #034fd1;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 50%;
}

table {
  border: 1px solid beige;
  text-align: center;
  height: 100%;
}

td,
th {
  background-color: #3b3b3b;
  color: beige;
  padding: 10px;
}

.pokemon-shiny {
  width: 100px;
  height: 100px;
}
